services:
  presto-coordinator:
    extends:
      file: docker-compose.common.yml
      service: presto-base-coordinator
    volumes:
      - ./config/generated/gpu/etc_common:/opt/presto-server/etc
      - ./config/generated/gpu/etc_coordinator/config_native.properties:/opt/presto-server/etc/config.properties
      - ./config/generated/gpu/etc_coordinator/node.properties:/opt/presto-server/etc/node.properties

  presto-native-worker-gpu:
    extends:
      file: docker-compose.common.yml
      service: presto-base-native-worker
    container_name: presto-native-worker-gpu
    image: presto-native-worker-gpu:latest
    build:
      args:
        - GPU=ON
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - PROFILE=${PROFILE}
      - PROFILE_ARGS=${PROFILE_ARGS}
    depends_on:
      - presto-coordinator
    volumes:
      - ./config/generated/gpu/etc_common:/opt/presto-server/etc
      - ./config/generated/gpu/etc_worker/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/gpu/etc_worker/config_native.properties:/opt/presto-server/etc/config.properties

# These workers are available to run on one node with a single GPU pinned to each.
  presto-native-worker-gpu-0:
    extends:
      service: presto-native-worker-gpu
    container_name: presto-native-worker-gpu-0
    environment:
      - NVIDIA_VISIBLE_DEVICES=0
    volumes:
      - ./config/generated/gpu/etc_worker_0/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/gpu/etc_worker_0/config_native.properties:/opt/presto-server/etc/config.properties

  presto-native-worker-gpu-1:
    extends:
      service: presto-native-worker-gpu
    container_name: presto-native-worker-gpu-1
    environment:
      - NVIDIA_VISIBLE_DEVICES=1
    volumes:
      - ./config/generated/gpu/etc_worker_1/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/gpu/etc_worker_1/config_native.properties:/opt/presto-server/etc/config.properties

  presto-native-worker-gpu-2:
    extends:
      service: presto-native-worker-gpu
    container_name: presto-native-worker-gpu-2
    environment:
      - NVIDIA_VISIBLE_DEVICES=2
    volumes:
      - ./config/generated/gpu/etc_worker_2/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/gpu/etc_worker_2/config_native.properties:/opt/presto-server/etc/config.properties

  presto-native-worker-gpu-3:
    extends:
      service: presto-native-worker-gpu
    container_name: presto-native-worker-gpu-3
    environment:
      - NVIDIA_VISIBLE_DEVICES=3
    volumes:
      - ./config/generated/gpu/etc_worker_3/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/gpu/etc_worker_3/config_native.properties:/opt/presto-server/etc/config.properties
