services:
  presto-coordinator:
    extends:
      file: docker-compose.common.yml
      service: presto-base-coordinator
    volumes:
      - ./config/generated/gpu/etc_common:/opt/presto-server/etc
      - ./config/generated/gpu/etc_coordinator/config_native.properties:/opt/presto-server/etc/config.properties
      - ./config/generated/gpu/etc_coordinator/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/gpu/etc_coordinator/catalog/hive.properties:/opt/presto-server/etc/catalog/hive.properties

  presto-native-worker-gpu:
    extends:
      file: docker-compose.common.yml
      service: presto-base-native-worker
    container_name: presto-native-worker-gpu
    image: presto-native-worker-gpu:latest
    build:
      args:
        - GPU=ON
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - PROFILE=${PROFILE}
      - PROFILE_ARGS=${PROFILE_ARGS}
    depends_on:
      - presto-coordinator
    volumes:
      - ./config/generated/gpu/etc_common:/opt/presto-server/etc
      - ./config/generated/gpu/etc_worker/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/gpu/etc_worker/config_native.properties:/opt/presto-server/etc/config.properties
      - ./config/generated/gpu/etc_worker/catalog/hive.properties:/opt/presto-server/etc/catalog/hive.properties
