services:
  presto-coordinator:
    extends:
      file: docker-compose.common.yml
      service: presto-base-coordinator
    image: presto-coordinator:${IMAGE_TAG:-latest}
    volumes:
      - ./config/generated/java/etc_common:/opt/presto-server/etc
      - ./config/generated/java/etc_coordinator/config_java.properties:/opt/presto-server/etc/config.properties
      - ./config/generated/java/etc_coordinator/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/java/etc_coordinator/catalog/hive.properties:/opt/presto-server/etc/catalog/hive.properties

  presto-java-worker:
    extends:
      file: docker-compose.common.yml
      service: presto-base-java
    container_name: presto-java-worker
    image: presto-java-worker:${IMAGE_TAG:-latest}
    volumes:
      - ./config/generated/java/etc_common:/opt/presto-server/etc
      - ./config/generated/java/etc_worker/config_java.properties:/opt/presto-server/etc/config.properties
      - ./config/generated/java/etc_worker/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/java/etc_worker/catalog/hive.properties:/opt/presto-server/etc/catalog/hive.properties
    depends_on:
      - presto-coordinator
