services:
  presto-coordinator:
    extends:
      file: docker-compose.common.yml
      service: presto-base-coordinator
    volumes:
      - ./config/generated/etc_coordinator/config_java.properties:/opt/presto-server/etc/config.properties
      - ./config/generated/etc_shared/jvm_java.config:/opt/presto-server/etc/jvm.config

  presto-java-worker:
    extends:
      file: docker-compose.common.yml
      service: presto-base-java
    container_name: presto-java-worker
    image: presto-java-worker:latest
    volumes:
      - ./config/generated/etc_worker/config_java.properties:/opt/presto-server/etc/config.properties
      - ./config/generated/etc_worker/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/etc_shared/jvm_java.config:/opt/presto-server/etc/jvm.config
    depends_on:
      - presto-coordinator
