services:
  presto-coordinator:
    extends:
      file: docker-compose.common.yml
      service: presto-base-coordinator
    volumes:
      - ./config/etc_coordinator/config_native.properties:/opt/presto-server/etc/config.properties

  presto-native-worker-gpu:
    extends:
      file: docker-compose.common.yml
      service: presto-base-native-worker
    container_name: presto-native-worker-gpu
    image: presto-native-worker-gpu:latest
    build:
      args:
        - GPU=ON
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - LIBCUDF_NVCOMP_POLICY=OFF
      - COMPUTE_SANITIZER_PREFIX=compute-sanitizer --track-stream-ordered-races=all
    depends_on:
      - presto-coordinator
