services:
  presto-coordinator:
    extends:
      file: docker-compose.native-cpu.yml
      service: presto-coordinator

  presto-native-worker-cpu:
    extends:
      file: docker-compose.native-cpu.yml
      service: presto-native-worker-cpu
    build:
      ulimits: {nofile: {soft: 500000, hard: 500000}}
      secrets:
        - github_token
        - aws_credentials

secrets:
  github_token:
    file: "${SCCACHE_AUTH_DIR:-${HOME}/.sccache-auth}/github_token"
  aws_credentials:
    file: "${SCCACHE_AUTH_DIR:-${HOME}/.sccache-auth}/aws_credentials"
