x-presto-native-worker-gpu: &gpu_worker_base
  extends:
    file: ../docker-compose.common.yml
    service: presto-base-native-worker
  image: presto-native-worker-gpu:latest
  build:
    args:
      - GPU=ON
  runtime: nvidia
  environment:
    - NVIDIA_VISIBLE_DEVICES=all
    - PROFILE=${PROFILE}
    - PROFILE_ARGS=${PROFILE_ARGS}
  depends_on:
    - presto-coordinator
  volumes:
    - ../config/generated/gpu/etc_common:/opt/presto-server/etc
    - ../config/generated/gpu/etc_worker/node.properties:/opt/presto-server/etc/node.properties
    - ../config/generated/gpu/etc_worker/config_native.properties:/opt/presto-server/etc/config.properties

services:
  presto-coordinator:
    extends:
      file: ../docker-compose.common.yml
      service: presto-base-coordinator
    volumes:
      - ../config/generated/gpu/etc_common:/opt/presto-server/etc
      - ../config/generated/gpu/etc_coordinator/config_native.properties:/opt/presto-server/etc/config.properties
      - ../config/generated/gpu/etc_coordinator/node.properties:/opt/presto-server/etc/node.properties

{% if workers %}
  # These workers are generated dynamically; each is pinned to a specific GPU.
{% for i in workers %}
  presto-native-worker-gpu-{{ i }}:
    <<: *gpu_worker_base
    container_name: presto-native-worker-gpu-{{ i }}
    environment:
      - NVIDIA_VISIBLE_DEVICES={{ i }}
    volumes:
      - ../config/generated/gpu/etc_common:/opt/presto-server/etc
      - ../config/generated/gpu/etc_worker_{{ i }}/node.properties:/opt/presto-server/etc/node.properties
      - ../config/generated/gpu/etc_worker_{{ i }}/config_native.properties:/opt/presto-server/etc/config.properties
{% endfor %}
{% else %}
  # Default single worker when num-workers is not specified
  presto-native-worker-gpu:
    <<: *gpu_worker_base
    container_name: presto-native-worker-gpu
{% endif %}

