services:
  presto-coordinator:
    extends:
      file: docker-compose.common.yml
      service: presto-base-coordinator
    volumes:
      - ./config/generated/cpu/etc_common:/opt/presto-server/etc
      - ./config/generated/cpu/etc_coordinator/config_native.properties:/opt/presto-server/etc/config.properties
      - ./config/generated/cpu/etc_coordinator/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/cpu/etc_coordinator/catalog/hive.properties:/opt/presto-server/etc/catalog/hive.properties

  presto-native-worker-cpu:
    extends:
      file: docker-compose.common.yml
      service: presto-base-native-worker
    container_name: presto-native-worker-cpu
    image: presto-native-worker-cpu:latest
    build:
      args:
        - GPU=OFF
    depends_on:
      - presto-coordinator
    volumes:
      - ./config/generated/cpu/etc_common:/opt/presto-server/etc
      - ./config/generated/cpu/etc_worker/node.properties:/opt/presto-server/etc/node.properties
      - ./config/generated/cpu/etc_worker/config_native.properties:/opt/presto-server/etc/config.properties
      - ./config/generated/cpu/etc_worker/catalog/hive.properties:/opt/presto-server/etc/catalog/hive.properties
