services:
  presto-coordinator:
    extends:
      file: docker-compose.common.yml
      service: presto-base-coordinator
    volumes:
      - ./config/generated/cpu/etc_coordinator:/opt/presto-server/etc

  presto-native-worker-cpu:
    extends:
      file: docker-compose.common.yml
      service: presto-base-native-worker
    container_name: presto-native-worker-cpu
    image: presto-native-worker-cpu:latest
    build:
      args:
        - GPU=OFF
    depends_on:
      - presto-coordinator
    volumes:
      - ./config/generated/cpu/etc_worker:/opt/presto-server/etc
