services:
  presto-base-volumes:
    volumes:
      - ${PRESTO_DATA_DIR:-.}/hive_metastore:/var/lib/presto/data/hive/metastore
      - ../testing/integration_tests/data:/var/lib/presto/data/hive/data/integration_test
      - ${PRESTO_DATA_DIR:-/dev/null}:/var/lib/presto/data/hive/data/user_data

  presto-base-java:
    extends:
      service: presto-base-volumes
    build:
      context: ../../../presto/docker

  presto-base-coordinator:
    extends:
      service: presto-base-java
    container_name: presto-coordinator
    image: presto-coordinator:${PRESTO_IMAGE_TAG}
    ports:
      - 8080:8080

  presto-base-native-worker:
    extends:
      service: presto-base-volumes
    build:
      context: ../../..
      dockerfile: velox-testing/presto/docker/native_build.dockerfile
    environment:
      - GLOG_logtostderr=1
