services:
  presto-coordinator:
    container_name: presto-coordinator
    image: prestodb/presto:latest
    ports:
      - 8080:8080
    volumes:
      - ./config/etc_common:/opt/presto-server/etc
      - ./config/etc_coordinator/config_native.properties:/opt/presto-server/etc/config.properties
      - ./config/etc_coordinator/node.properties:/opt/presto-server/etc/node.properties
      - ../testing/integration_tests/data:/var/lib/presto/data/hive/data/integration_test
      - ${DATA_DIR:-../testing/integration_tests/data/tpch_sf1}:/opt/data

  presto-native-worker-cpu:
    container_name: presto-native-worker-cpu
    image: presto-native-worker-cpu:latest
    build:
      args:
        - GPU=OFF
      context: ../../..
      dockerfile: velox-testing/presto/docker/native_build.dockerfile
    environment:
      - GLOG_logtostderr=1
    volumes:
      - ./config/etc_common:/opt/presto-server/etc
      - ./config/etc_worker/config_native.properties:/opt/presto-server/etc/config.properties
      - ./config/etc_worker/node.properties:/opt/presto-server/etc/node.properties
      - ../testing/integration_tests/data:/var/lib/presto/data/hive/data/integration_test
      - ${DATA_DIR:-../testing/integration_tests/data/tpch_sf1}:/opt/data
    depends_on:
      - presto-coordinator

  presto-cli:
    container_name: presto-cli
    image: prestodb/presto:latest
    entrypoint: ["sleep", "infinity"]
    depends_on:
      - presto-coordinator