services:
  presto-coordinator:
    container_name: presto-coordinator
    image: prestodb/presto:latest
    ports:
      - 8080:8080
    volumes:
      - ./config/etc_common:/opt/presto-server/etc
      - ./config/etc_coordinator/config_native.properties:/opt/presto-server/etc/config.properties
      - ./config/etc_coordinator/node.properties:/opt/presto-server/etc/node.properties

  presto-native-worker-cpu:
    container_name: presto-native-worker-cpu
    image: presto-native-worker-cpu:latest
    build:
      args:
        - GPU=OFF
        - NUM_THREADS=${NUM_THREADS}
        - CCACHE_DIR=${CCACHE_DIR}
      context: ../../..
      dockerfile: velox-testing/presto/docker/native_build.dockerfile
    environment:
      - GLOG_logtostderr=1
    volumes:
      - ./config/etc_common:/opt/presto-server/etc
      - ./config/etc_worker/config_native.properties:/opt/presto-server/etc/config.properties
      - ./config/etc_worker/node.properties:/opt/presto-server/etc/node.properties
    depends_on:
      - presto-coordinator
