services:
  velox-adapters-dev:
    extends:
      file: docker-compose.adapters.dev.yml
      service: velox-adapters-dev
    build:
      ulimits: {nofile: {soft: 500000, hard: 500000}}
      secrets:
        - github_token
        - aws_credentials

secrets:
  github_token:
    file: "${SCCACHE_AUTH_DIR:-${HOME}/.sccache-auth}/github_token"
  aws_credentials:
    file: "${SCCACHE_AUTH_DIR:-${HOME}/.sccache-auth}/aws_credentials"
