services:
  velox-benchmark:
    container_name: velox-benchmark
    image: velox-adapters-build:latest
    runtime: nvidia
    environment:
      - USER_ID=${USER_ID}
      - GROUP_ID=${GROUP_ID}
      - COMPUTE_SANITIZER_PREFIX=${COMPUTE_SANITIZER_PREFIX:-}
      - LIBCUDF_NVCOMP_POLICY=${LIBCUDF_NVCOMP_POLICY:-}
      - NV_COMPUTE_SANITIZER_MAX_RACECHECK_HAZARDS=${NV_COMPUTE_SANITIZER_MAX_RACECHECK_HAZARDS:-}
    volumes:
      - ../../../velox:/workspace/velox
      - ${BENCHMARK_DATA_HOST_PATH}:/workspace/velox/velox-benchmark-data:ro
      - ${BENCHMARK_RESULTS_HOST_PATH}:/workspace/velox/benchmark_results
    working_dir: /workspace/velox 