name: Presto Nightly Test

on:
  schedule:
    - cron: '0 4 * * *'  # daily at 04:00 UTC
  workflow_dispatch:

jobs:
  nightly:
    uses: ./.github/workflows/presto-test.yml
    with:
      presto_repository: ${{ vars.STABLE_PRESTO_REPO }}
      presto_commit: ${{ vars.STABLE_PRESTO_COMMIT }}
      velox_repository: ${{ vars.STABLE_VELOX_REPO }}
      velox_commit: ${{ vars.STABLE_VELOX_COMMIT }}
      run_java_tests: true
      run_cpu_tests: true
      run_gpu_tests: true
