name: Presto Test
description: Tests for each type of presto configuration
on:
  workflow_dispatch:
    inputs:
      presto_repository: &presto_repository
        description: 'Presto Repository'
        type: string
        required: false
        default: 'prestodb/presto'
      presto_commit: &presto_commit
        description: 'Presto Commit SHA or Branch'
        type: string
        required: false
        default: 'master'
      velox_repository: &velox_repository
        description: 'Velox Repository'
        type: string
        required: false
        default: 'facebookincubator/velox'
      velox_commit: &velox_commit
        description: 'Velox Commit SHA or Branch'
        type: string
        required: false
        default: 'main'
      run_java_tests: &run_java_tests
        description: 'Run tests with Java Worker'
        type: boolean
        default: false
      run_cpu_tests: &run_cpu_tests
        description: 'Run tests with Native CPU Worker'
        type: boolean
        default: false
      run_gpu_tests: &run_gpu_tests
        description: 'Run tests with Native GPU Worker'
        type: boolean
        default: true
      set_velox_backward_compatible: &set_velox_backward_compatible
        description: 'Set VELOX_ENABLE_BACKWARD_COMPATIBLE in Velox build'
        type: boolean
        default: false
      build_dependency_image: &build_dependency_image
        description: 'Build dependency image locally instead of downloading from S3'
        type: boolean
        default: true

  workflow_call:
    inputs:
      presto_repository: *presto_repository
      presto_commit: *presto_commit
      velox_repository: *velox_repository
      velox_commit: *velox_commit
      run_java_tests: *run_java_tests
      run_cpu_tests: *run_cpu_tests
      run_gpu_tests: *run_gpu_tests
      set_velox_backward_compatible: *set_velox_backward_compatible
      build_dependency_image: *build_dependency_image

jobs:
  java:
    if: ${{ inputs.run_java_tests }}
    uses: ./.github/workflows/presto-test-composite.yml
    with:      
      presto_worker_type: 'java'
      node_label: 'linux-amd64-cpu8'
      presto_repository: ${{ inputs.presto_repository }}
      presto_commit: ${{ inputs.presto_commit }}
      velox_repository: ${{ inputs.velox_repository }}
      velox_commit: ${{ inputs.velox_commit }}
      set_velox_backward_compatible: false
      build_dependency_image: ${{ inputs.build_dependency_image }}
    secrets: inherit
  native-cpu:
    if: ${{ inputs.run_cpu_tests }}
    uses: ./.github/workflows/presto-test-composite.yml
    with:
      presto_worker_type: 'native_cpu'
      node_label: 'linux-amd64-cpu16'
      presto_repository: ${{ inputs.presto_repository }}
      presto_commit: ${{ inputs.presto_commit }}
      velox_repository: ${{ inputs.velox_repository }}
      velox_commit: ${{ inputs.velox_commit }}
      set_velox_backward_compatible: ${{ inputs.set_velox_backward_compatible }}
      build_dependency_image: ${{ inputs.build_dependency_image }}
    secrets: inherit
  native-gpu:
    if: ${{ inputs.run_gpu_tests }}
    uses: ./.github/workflows/presto-test-composite.yml
    with:
      presto_worker_type: 'native_gpu'
      node_label: 'linux-amd64-gpu-l4-latest-1'
      presto_repository: ${{ inputs.presto_repository }}
      presto_commit: ${{ inputs.presto_commit }}
      velox_repository: ${{ inputs.velox_repository }}
      velox_commit: ${{ inputs.velox_commit }}
      set_velox_backward_compatible: ${{ inputs.set_velox_backward_compatible }}
      build_dependency_image: ${{ inputs.build_dependency_image }}
    secrets: inherit
