name: Presto Test Composite
description: Template for Presto jobs
on:
  workflow_call:
    inputs:
      presto_repository:
        description: 'Presto Repository'
        type: string
        required: false
        default: 'prestodb/presto'
      presto_commit:
        description: 'Presto Commit SHA or Branch'
        type: string
        required: false
        default: 'master'
      velox_repository:
        description: 'Velox Repository'
        type: string
        required: false
        default: 'facebookincubator/velox'
      velox_commit:
        description: 'Velox Commit SHA or Branch'
        type: string
        required: false
        default: 'main'
      presto_worker_type:
        description: 'Type of Presto Worker to use'
        type: string
        required: true
      node_label:
        description: 'Node Label to run on'
        type: string
        required: true
      set_velox_backward_compatible:
        description: 'Set VELOX_ENABLE_BACKWARD_COMPATIBLE in Velox build'
        type: string
        required: false
      build_upstream:
        description: 'Build Presto Upstream Default'
        type: boolean
        default: false

jobs:
  build-and-test:
    runs-on: ${{ inputs.node_label }}
    steps:
      - name: Checkout Presto
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.presto_repository }}
          ref: ${{ inputs.presto_commit }}
          path: presto
      - name: Get Presto Pinned Velox Version
        id: get-presto-pinned-velox-version
        if: ${{ inputs.build_upstream && inputs.presto_worker_type != 'java' }}
        run: |
          pushd presto/presto-native-execution
          make submodules
          cd velox
          PRESTO_PINNED_VELOX_SHA=$(git rev-parse HEAD)
          echo "Found Presto pinned Velox SHA: ${PRESTO_PINNED_VELOX_SHA}"
          echo "PRESTO_PINNED_VELOX_SHA=${PRESTO_PINNED_VELOX_SHA}" >> $GITHUB_OUTPUT
          popd
      - name: Checkout Velox
        if: ${{ inputs.presto_worker_type != 'java' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.build_upstream && 'facebookincubator/velox' || inputs.velox_repository }}
          ref: ${{ inputs.build_upstream && steps.get-presto-pinned-velox-version.outputs.PRESTO_PINNED_VELOX_SHA || inputs.velox_commit }}
          path: velox
      - name: Checkout Velox Testing
        uses: actions/checkout@v4
        with:
          repository: rapidsai/velox-testing
          ref: ${{ github.ref_name }} # automatically match the workflow branch
          path: velox-testing
      - name: Download Presto Dependencies Container Image
        if: ${{ inputs.presto_worker_type != 'java' }}
        env:
          AWS_ARN_STRING: ${{ secrets.AWS_ARN_STRING }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          S3_BUCKET_NAME: ${{ vars.S3_BUCKET_NAME }}
          S3_BUCKET_REGION: ${{ vars.S3_BUCKET_REGION }}
        run: |
          pushd velox-testing/presto/scripts
          ./fetch_centos_deps_image.sh
          popd
      - name: Set Velox Backward Compatibility Flag
        # for Velox builds insert VELOX_ENABLE_BACKWARD_COMPATIBILITY definition?
        if: ${{ inputs.presto_worker_type != 'java' && inputs.set_velox_backward_compatible == 'true' }}
        run: |
          pushd presto/presto-native-execution
          sed -i 's/add_subdirectory(presto_cpp)/add_definitions(-DVELOX_ENABLE_BACKWARD_COMPATIBILITY)\nadd_subdirectory(presto_cpp)/' CMakeLists.txt
          popd
      - name: Build Presto
        run: |
          pushd velox-testing/presto/scripts
          ./start_${{ inputs.presto_worker_type }}_presto.sh
          popd
      - name: Run Integration Tests
        # avoid Q15 on GPU as it will fail output comparison until the schema differences are resolved
        run: |
          pushd velox-testing/presto/scripts
          ./run_integ_test.sh -b tpch ${{ inputs.presto_worker_type == 'native_gpu' && '-q 1,2,3,4,5,6,7,8,9,10,11,12,13,14,16,17,18,19,20,21,22' || '' }}
          popd
      - name: Shutdown Presto
        run: |
          pushd velox-testing/presto/scripts
          ./stop_presto.sh
          popd
