name: Presto Test
description: Tests for each type of presto configuration
on:
  workflow_dispatch:
    inputs:
      velox_commit:
        description: 'Velox commit SHA or branch'
        type: string
        required: false
        default: 'main'
      presto_commit:
        description: 'Presto commit SHA or branch'
        type: string
        required: false
        default: 'master'
      run_java_tests:
        description: 'Run tests with java worker'
        type: boolean
        default: false
      run_cpu_tests:
        description: 'Run tests with native-cpu worker'
        type: boolean
        default: false
      run_gpu_tests:
        description: 'Run tests with native-gpu worker'
        type: boolean
        default: true

# TODO: Change the reference from the PrestoActions branch to main.
jobs:
  java:
    if: ${{ github.event.inputs.run_java_tests == 'true' }}
    uses: ./.github/workflows/presto-test-composite.yml
    with:
      
      presto_worker_type: 'java'
      node_label: 'linux-amd64-cpu4'
      velox_commit: ${{ inputs.velox_commit }}
      presto_commit: ${{ inputs.presto_commit }}
  native-cpu:
    if: ${{ github.event.inputs.run_cpu_tests == 'true' }}
    uses: rapidsai/velox-testing/.github/workflows/presto-test-composite.yml@misiug/PrestoActions
    with:
      presto_worker_type: 'native_cpu'
      node_label: 'linux-amd64-cpu16'
      velox_commit: ${{ inputs.velox_commit }}
      presto_commit: ${{ inputs.presto_commit }}
  native-gpu:
    if: ${{ github.event.inputs.run_gpu_tests == 'true' }}
    uses: rapidsai/velox-testing/.github/workflows/presto-test-composite.yml@misiug/PrestoActions
    with:
      presto_worker_type: 'native_gpu'
      node_label: 'linux-amd64-gpu-l4-latest-1'
      velox_commit: ${{ inputs.velox_commit }}
      presto_commit: ${{ inputs.presto_commit }}

