name: Presto Test

on:
  workflow_dispatch:
    inputs:
      velox_commit:
        description: 'Velox commit SHA or branch'
        required: true
        default: 'main'
      presto_commit:
        description: 'Presto commit SHA or branch'
        required: true
        default: 'main'
  workflow_call:
    inputs:
      velox_commit:
        type: string
        required: true
      presto_commit:
        type: string
        required: true

jobs:
  build-and-test:
    runs-on: linux-amd64-gpu-l4-latest-1
    container:
      # TODO: What base container should be used here?
      image: ghcr.io/facebookincubator/velox-dev:adapters
    steps:
      - name: Checkout Velox
        uses: actions/checkout@v4
        with:
          repository: facebookincubator/velox
          ref: ${{ inputs.velox_commit || github.event.inputs.velox_commit }}

      - name: Build Velox with cuDF
        run: |
          git config --global --add safe.directory .
          mkdir -p velox-build && cd velox-build
          cmake -G Ninja -DVELOX_ENABLE_CUDF=ON ..
          ninja

      - name: Checkout Presto
        uses: actions/checkout@v4
        with:
          repository: prestodb/presto
          ref: ${{ inputs.presto_commit || github.event.inputs.presto_commit }}
          path: presto

      - name: Build Presto with Velox Connector
        run: |
          # TODO: Untested, replace with working code
          cd presto
          git config --global --add safe.directory .
          ./mvnw clean package -Pvelox -DskipTests
      
      - name: Run Presto Integration Tests
        run: |
          cd presto
          ./presto-server/bin/run-tests.sh
