#
# GitHub Actions Workflow Test
#

name: Say Hello

on:
  # run on a push or PR to main
  #push:
  #  branches: [ main ]
  #pull_request:
  #  branches: [ main ]
  
  # run manually from the Actions tab with a string parameter
  workflow_dispatch:
    inputs:
      recipient:
        description: 'To whom would you like to say Hello?'
        required: true
        default: "World"

jobs:
  say-hello:
    name: Say Hello
    runs-on: linux-amd64-gpu-l4-latest-1
    container: ghcr.io/facebookincubator/velox-dev:adapters
    defaults:
      run:
        shell: bash

    steps:
      # We don't actually need to checkout the repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Say Hello
      - name: Say Hello
        run: echo "Hello, ${{ github.event.inputs.recipient }}!"

      # Run nvidia-smi just to prove we're on a GPU system
      - name: Run nvidia-smi
        run: nvidia-smi || echo "nvidia-smi not found or no NVIDIA GPU/driver detected!"
        continue-on-error: true

      # Do a git status
      - name: Run git status
        run: git status
        continue-on-error: true
