name: Velox Benchmark Sanity Test

on:
  workflow_dispatch:
    inputs:
      repository: &repository
        description: 'Velox repository'
        type: string
        required: true
        default: 'facebookincubator/velox'
      velox_commit: &velox_commit
        description: 'Velox commit SHA or branch'
        type: string
        required: true
        default: 'main'
      benchmark_type:
        description: 'Benchmark type'
        type: choice
        required: true
        default: 'tpch'
        options:
          - tpch
      use_upstream_deps_image: &use_upstream_deps_image
        description: 'Use upstream deps image from ghcr.io'
        type: boolean
        default: true

  workflow_call:
    inputs:
      repository: *repository
      velox_commit: *velox_commit
      benchmark_type:
        description: 'Benchmark type'
        type: string
        required: false
        default: 'tpch'
      use_upstream_deps_image: *use_upstream_deps_image

jobs:
  velox-benchmark:
    runs-on: linux-amd64-gpu-l4-latest-1
    steps:
      - name: Checkout velox-testing
        uses: actions/checkout@v4
        with:
          path: velox-testing

      - name: Setup Velox
        uses: ./velox-testing/.github/actions/velox-setup
        with:
          repository: ${{ inputs.repository }}
          velox_commit: ${{ inputs.velox_commit }}

      - name: Pull Velox Dependencies
        if: ${{ inputs.use_upstream_deps_image }}
        name: Pull Velox Dependencies
        run: |
          docker pull ghcr.io/facebookincubator/velox-dev:adapters

      - name: Fetch or Build Velox Dependencies
        if: ${{ ! inputs.use_upstream_deps_image }}
        uses: ./velox-testing/.github/actions/velox-deps-fetch
        with:
          aws_arn_string: ${{ secrets.AWS_ARN_STRING }}
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          s3_bucket_name: ${{ vars.S3_BUCKET_NAME }}
          s3_bucket_region: ${{ vars.S3_BUCKET_REGION }}
          fail_on_fetch_error: false
          auto_build_on_failure: true

      - name: "Build Velox GPU with Benchmarks (SHA: ${{ env.VELOX_COMMIT_SHA }})"
        working-directory: ${{ github.workspace }}/velox-testing/velox/scripts
        run: TREAT_WARNINGS_AS_ERRORS=0 ./build_velox.sh --gpu --benchmarks true --log build_velox_gpu.log

      - name: Upload velox_gpu_build_log as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: velox_gpu_build_log
          path: ${{ github.workspace }}/velox-testing/velox/scripts/build_velox_gpu.log

      - name: Run ${{ inputs.benchmark_type }} Velox GPU Benchmarks
        run: |
          DATA_DIR=${{ github.workspace }}/velox-testing/presto/testing/integration_tests/data/${{ inputs.benchmark_type }}
          pushd velox-testing/velox/scripts
          ./benchmark_velox.sh -b ${{ inputs.benchmark_type }} --data-dir $DATA_DIR -d gpu -p false -o ${{ github.workspace }}/velox-testing/benchmark-results
          popd

      - name: Upload benchmark results as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: "Velox_GPU_benchmark_results_${{ inputs.benchmark_type }}_${{ env.VELOX_COMMIT_SHA }}"
          path: ${{ github.workspace }}/velox-testing/benchmark-results
          if-no-files-found: error
          retention-days: 14
